/* ==========================================================================
   Reset y configuración base
========================================================================== */

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* ==========================================================================
   Estilos Header, Main,  Footer
========================================================================== */
header{
    background-color: #f0f8ff;
    padding: 10px;
    text-align: center; 
}


main{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


footer{
    background-color: #f0f8ff;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

/* ==========================================================================
   CAJAS-COLOR // EN ESTAS CAJAS SE VERAN LOS COLORES DE LAS PALETAS
========================================================================== */

#contenedor-cajas{
    display: flex;
    flex-direction: row;
}

.caja-color{
    background-color: rgb(222, 184, 184); 
    padding: 10px;        
    width: 100%;    
    height: 70vh;
    border: 5px solid black;    
    display: flex;   
    align-items: flex-end;
    
}

p{
    border: 5px solid black;
    background-color: antiquewhite;
    width: 100%;
}